UI menu.c32

MENU TITLE CoreVM Appliance __VERSION__

DEFAULT corevm
TIMEOUT 50
PROMPT 0

LABEL corevm
    MENU LABEL ^Install CoreVM Appliance
    KERNEL /live/vmlinuz
    APPEND initrd=/live/initrd.img boot=live toram
